@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --font-family: apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 
  'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}

.form-fields {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-fields input {
  padding: 0.4rem 2.5rem 0.4rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form-button {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  grid-column: 1 / -1;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
}

